body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background: #ddd;
}

tbody tr:nth-child(even) {
    background: #f9f9f9;
}

tbody tr:hover {
    background: #e9e9e9;
}

.inactive-tag {
    margin-left: 6px;
    padding: 2px 6px;
    font-size: 0.7rem;
    color: white;
    background-color: #e53935;
    border-radius: 4px;
    vertical-align: middle;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 40px;
        margin-bottom: 15px;
        align-items: center;
    }
    table {
        height: 80vh;
    }
    th, td {
        font-size: 30px;
        padding: 50px;
    }
    tr {
        max-height: 200px;
    }
}
