body {
    font-family: Arial, sans-serif;
    padding: 1rem;
    background: #f5f5f5;
    font-size: 1rem;
}

h1 {
    margin-bottom: 1.25rem;
    text-align: center;
}

#searchInput {
    padding: 0.75rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto 1rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-radius: 100px;
}

.table-wrapper {
    overflow-x: auto; /* horizontal scroll on small screens */
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: center;
    white-space: nowrap;
}

th {
    background: #e3e3e3;
    font-weight: bold;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 1000px) {
    body {
        font-size: 30px;
    }
    table {
        height: 80vh;
    }
    #searchInput { 
        font-size: 24px;
        padding: 30px;
    }
    th, td {
        font-size: 30px;
        padding: 50px;
    }
    tr {
        max-height: 200px;
    }
}
